body {
  background-image: url(/Images/uno_background_image.jpg);
}

#cardsDeckId {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameInputDivId {
  margin-top: 30vh;
  color: white;
  font-size: 1.3rem;
}

.nameInputDivId button {
  display: block;
  margin-top: 1.1rem;
  height: 1.7rem;
}

.nameInputDivId button:hover {
  background-color: grey;
}

.nameInputDivId input {
  height: 1.5rem;
  width: 11rem;
  padding-left: 0.5rem;
}

.cardDivId {
  height: 90%;
  width: 88%;
  margin: 2% auto;
  border-radius: 5px;
  color: white;
}

.cpuCardsId,
.drawCardsId,
.playerCardsId {
  min-height: 26vh;
  display: flex;
  cursor: pointer;
  margin: 2vh 0;
}

/*If a card is drawn, then distinguish it */
.drawCardsId > div:nth-child(3) {
  margin-left: 10vh;
}

.cardBorderDivId {
  height: 24vh;
  width: 16vh;
  border: 4px rgb(255, 255, 255) solid;
  border-radius: 5px;
  margin: 0.4rem;
}

.upperNoDivId {
  font-size: 1.6rem;
  padding: 0 0.3rem;
}

.middleNoDivId {
  margin: 0.5rem 0rem 0rem 1.7rem;
  padding: 0 1.3rem 0 0;
  height: 50%;
  width: 35%;
  transform: rotate(35deg);
  background-color: white;
  border-radius: 50%;
}

.middleNoId {
  font-size: 2rem;
  transform: rotate(-35deg);
  padding: 1.8rem 0 0 0;
}

.lowerNoDivId {
  padding: 0rem 0rem 0.8rem 0.3rem;
  font-size: 1.6rem;
  transform: rotate(-180deg);
}

img {
  height: 24vh;
  width: 16vh;
  content: url("Images/UNO_back.png");
}

.playPass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2vh;
}

.playPass button {
  margin: 3vh;
  height: 5vh;
  width: 10vh;
}

.playPass button:hover {
  background-color: lightblue;
  cursor: pointer;
}

.unoButton {
  margin: auto 0 auto 4vh;
  height: 5vh;
  width: 9vh;
  text-align: center;
}

.unoButton:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}