#cardsDeckId {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardDivId {
  height: 94%;
  width: 90%;
  margin: 4% auto;
  border-radius: 5px;
  color: white;
}

.cpuCardsId,
.drawCardsId,
.playerCardsId {
  display: flex;
  cursor: pointer;
  margin: 1vh 0;
}

/*If a card is drawn, then distinguish it */
.drawCardsId > div:nth-child(3) {
  margin-left: 10vh;
}

.cardBorderDivId {
  height: 27vh;
  width: 18vh;
  border: 2px rgba(0, 0, 0, 0.3) solid;
  border-radius: 5px;
  margin: 0.4rem;
}

.upperNoDivId {
  font-size: 1.6rem;
  padding: 0 0.3rem;
}

.middleNoDivId {
  margin: 0.5rem 0rem 0rem 1.7rem;
  padding: 0 1.3rem 0 0;
  height: 50%;
  width: 35%;
  transform: rotate(35deg);
  background-color: white;
  border-radius: 50%;
}

.middleNoId {
  font-size: 2rem;
  transform: rotate(-35deg);
  padding: 1.8rem 0 0 0;
}

.lowerNoDivId {
  padding: 0rem 0rem 0.8rem 0.3rem;
  font-size: 1.6rem;
  transform: rotate(-180deg);
}

img {
  height: 27vh;
  width: 18vh;
  content: url("Images/UNO-Back-edit.png");
}

.playPass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2vh;
}

.playPass button {
  margin: 3vh;
  height: 5vh;
  width: 10vh;
}

.playPass button:hover {
  background-color: lightblue;
  cursor: pointer;
}

.unoButton {
  margin: auto 0 auto 4vh;
  height: 5vh;
  width: 9vh;
  text-align: center;
}

.unoButton:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}